.board {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    --board-color: #FFF;
    --board-faded-color: #35383b;
    --animation-duration: 0.15s;
    --animation-timing-function: ease-in;
}

.board .bl {
    border-left: 0.3em solid var(--board-color);
}

.board .br {
    border-right: 0.3em solid var(--board-color);
}

.board .bb {
    border-bottom: 0.3em solid var(--board-color);
}

.board .bt {
    border-top: 0.3em solid var(--board-color);
}

.board .row {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.board .cell {
    flex: 1;
    position: relative;
}

.board .x.faded::before, .x.faded::after {
    background-color: var(--board-faded-color);
}

.board .o.faded {
    border-color: var(--board-faded-color);
}

.board .x::before,.x::after {
    position: absolute;
    top: 45%;
    left: 5%;

    content: "";
    background-color: var(--board-color);
    display: block;

    width: 90%;
    height: 0.8em;
    border-radius: 1em;
}

.board .x::before {
    transform: rotate(-45deg);

    animation-name: growCW;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-timing-function);
}

.board .x::after {
    transform: rotate(45deg);

    animation-name: growCCW;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-timing-function);
}

.board .o {
    position: absolute;
    left: 12.5%;
    top: 12.5%;

    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 0.7em solid var(--board-color);

    animation-name: growCCW;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--animation-timing-function);
}

@keyframes growCW {
    from {
        transform: scale(0) rotate(-45deg);
    }
    to {
        transform: scale(100%) rotate(-45deg);
    }
}

@keyframes growCCW {
    from {
        transform: scale(0) rotate(45deg);
    }
    to {
        transform: scale(100%) rotate(45deg);
    }
}